.manage-column.column-price{
	width: 20%;
}

.manage-column.column-service_category{
	width: 20%;
}

.link{
	cursor: pointer;
}

.update:hover::after{
	content: "\f464";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 17px/1 'dashicons';
	vertical-align: top;
}